@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Paytone+One&family=Poppins:wght@100;400&display=swap');

.reviews{
     background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Paytone One', sans-serif;
    padding: 2rem;
    color: #5c508b;
}

.reviewContainer{
    height: 15rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewDetails{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 2rem;
    /* line-height: .5rem; */
}

.postDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name{
    font-size: 12px;
    line-height: 5px;
    font-weight: 600;
}

.icons{
    width: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .reviews{
        background-color: #ffffff;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 120%;
       padding: 2rem; 
   }
   .title{
    font-family: 'Paytone One', sans-serif;
    padding: 2rem;
    font-size: 1.3rem;
    color: #5c508b;
   }
   .reviewContainer{
    height: 40rem;
    width: 25rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center ;
    align-items: center;
   } 
  }